$grid-breakpoints: (
  ) !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grid-breakpoints: map-merge((xs: 0,
      sm: 480px,
      md: 767px,
      lg: 991px,
      xl: 1200px,
      xlp: 1400px,
      maxwidth: 1920px),
    $grid-breakpoints
);